<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>AdminServ1</servlet-name>
  	<display-name>AdminServ1</display-name>
  	<description></description>
  	<servlet-class>AdminServs.AdminServ1</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HouseOwnerDB</servlet-name>
  	<display-name>HouseOwnerDB</display-name>
  	<description></description>
  	<servlet-class>house_Owner.HouseOwnerDB</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>update1</servlet-name>
  	<display-name>update1</display-name>
  	<description></description>
  	<servlet-class>house_Owner.update1</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>update2</servlet-name>
  	<display-name>update2</display-name>
  	<description></description>
  	<servlet-class>house_Owner.update2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddHouse</servlet-name>
  	<display-name>AddHouse</display-name>
  	<description></description>
  	<servlet-class>house_Owner.AddHouse</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HOwnerView</servlet-name>
  	<display-name>HOwnerView</display-name>
  	<description></description>
  	<servlet-class>house_Owner.HOwnerView</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HouseOwnerLogin</servlet-name>
  	<display-name>HouseOwnerLogin</display-name>
  	<description></description>
  	<servlet-class>house_Owner.HouseOwnerLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HOwnerDelete</servlet-name>
  	<display-name>HOwnerDelete</display-name>
  	<description></description>
  	<servlet-class>house_Owner.HOwnerDelete</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Customer_View</servlet-name>
  	<display-name>Customer_View</display-name>
  	<description></description>
  	<servlet-class>Customer_Servs.Customer_View</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Customer_Login</servlet-name>
  	<display-name>Customer_Login</display-name>
  	<description></description>
  	<servlet-class>Customer_Servs.Customer_Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Customer_Rent</servlet-name>
  	<display-name>Customer_Rent</display-name>
  	<description></description>
  	<servlet-class>Customer_Servs.Customer_Rent</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Admin_Edit</servlet-name>
  	<display-name>Admin_Edit</display-name>
  	<description></description>
  	<servlet-class>AdminServs.Admin_Edit</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HOwner_Register</servlet-name>
  	<display-name>HOwner_Register</display-name>
  	<description></description>
  	<servlet-class>house_Owner.HOwner_Register</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HOwnerRegisterDB</servlet-name>
  	<display-name>HOwnerRegisterDB</display-name>
  	<description></description>
  	<servlet-class>house_Owner.HOwnerRegisterDB</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Admin_Delete</servlet-name>
  	<display-name>Admin_Delete</display-name>
  	<description></description>
  	<servlet-class>AdminServs.Admin_Delete</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Customer_Registration</servlet-name>
  	<display-name>Customer_Registration</display-name>
  	<description></description>
  	<servlet-class>Customer_Servs.Customer_Registration</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Customer_UpdProfile</servlet-name>
  	<display-name>Customer_UpdProfile</display-name>
  	<description></description>
  	<servlet-class>Customer_Servs.Customer_UpdProfile</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminServ1</servlet-name>
  	<url-pattern>/AdminServ1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HouseOwnerDB</servlet-name>
  	<url-pattern>/HouseOwnerDB</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>update1</servlet-name>
  	<url-pattern>/update1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>update2</servlet-name>
  	<url-pattern>/update2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddHouse</servlet-name>
  	<url-pattern>/AddHouse</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HOwnerView</servlet-name>
  	<url-pattern>/HOwnerView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HouseOwnerLogin</servlet-name>
  	<url-pattern>/HouseOwnerLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HOwnerDelete</servlet-name>
  	<url-pattern>/HOwnerDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Customer_View</servlet-name>
  	<url-pattern>/Customer_View</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Customer_Login</servlet-name>
  	<url-pattern>/Customer_Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Customer_Rent</servlet-name>
  	<url-pattern>/Customer_Rent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Admin_Edit</servlet-name>
  	<url-pattern>/Admin_Edit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HOwner_Register</servlet-name>
  	<url-pattern>/HOwner_Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HOwnerRegisterDB</servlet-name>
  	<url-pattern>/HOwnerRegisterDB</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Admin_Delete</servlet-name>
  	<url-pattern>/Admin_Delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Customer_Registration</servlet-name>
  	<url-pattern>/Customer_Registration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Customer_UpdProfile</servlet-name>
  	<url-pattern>/Customer_UpdProfile</url-pattern>
  </servlet-mapping>
</web-app>
